@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=PT+Sans&display=swap');

.footer {
  background-color: #ffffff;
  padding: 2rem 3rem;
  font-family: 'League Spartan', sans-serif;
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  
  .footer-logo {
    img {
      width: 200px !important;
      height: 200px !important;
      padding: 2rem;

      @media (max-width: 768px) {
        padding: 1rem;
      }
    }
  }

  
  .footer-contact {
    .contact-item {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .icon {
        margin-right: 1rem;
      }

      p {
        margin: 0;
        color: #4BA4CE;
        font-family: 'PT Sans', sans-serif;
      }
    }
  }

  
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2rem;

    @media (max-width: 768px) {
      align-items: center;
    }

    .legal-button {
      background-color: #4BA4CE;
      color: white;
      padding: 1rem 2.2rem;
      border-radius: 4px;
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 4rem;
      transition: background-color 0.3s;
      
      &:hover {
        background-color: darken(#486F8B, 10%);
      }
    }
    
    .social-links {
      display: flex;
      gap: 1rem;
      padding: 0;
      
      .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4BA4CE;
        transition: background-color 0.3s;
        
        &:hover {
          background-color: darken(#486F8B, 10%);
        }
        
        img {
          width: 24px;
          height: 24px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
