<!-- Section call-to-action -->
<div class="cta-section">
  <div class="cta-container">
    <div class="cta-content">
      <div class="cta-text">
        <h2 class="cta-title">Vous souhaitez digitaliser votre entreprise ?</h2>
        <p class="cta-subtitle">Alors vous êtes au bon endroit pour prendre un rendez-vous</p>
      </div>
      <div class="cta-button-container">
        <button class="cta-button" (click)="onContactClick()">Nous contacter</button>
      </div>
    </div>
  </div>
</div>